<template>
  <div>
    <el-row>
      <el-col :offset="5" :span="14">
        <div class="social-medias">
          <ul>
            <li>
              <a style="color: red;" href="https://www.youtube.com/channel/UCQH3pdVraHfZppyk10TRkbA"><i class="fab fa-youtube"></i></a>
            </li>
            <li>
              <a style="color: #3b5998;" href="https://www.facebook.com/desecureTR/"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a style="color: #00acee;" href="https://twitter.com/Desecure_tr"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a style="color: #E1306C;" href="https://www.instagram.com/desecure_tr/"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
        <div class="grid-content bg-purple-dark">
          <h1 class="form-title"><span>KVKK</span><br />Uyumluluk Testi</h1>
          <p>
            KVKK kanununa uygun iş akışına sahip olup olmadığınızı test
            edebileceğiniz soruları yanıtlayarak risk durumunuzu ölçebilirsiniz.
          </p>

          <div class="spacer"></div>

          <el-steps :active="active" finish-status="success">
            <el-step title="Adım 1"></el-step>
            <el-step title="Adım 2"></el-step>
            <el-step title="Adım 3"></el-step>
          </el-steps>

          <el-form
            :model="form"
            :rules="rules"
            ref="form"
            :label-position="labelPosition"
            label-width="250px"
          >
            <div v-if="step == 1" class="first-area">
              <h3 class="form-alt-title">Firmanız ile ilgili genel bilgiler</h3>

              <el-form-item
                :class="{ 'is-error': $v.form.activityArea.$error }"
                label="Firmanızın faaliyet gösterdiği alan :"
                prop="activityArea"
              >
                <el-input
                  @input="$v.form.activityArea.$touch()"
                  v-model="form.activityArea"
                ></el-input>

                <div
                  v-if="!$v.form.activityArea.required && isError1"
                  class="el-form-item__error"
                >
                  Lütfen bu alanı doldurunuz!
                </div>
              </el-form-item>

              <el-form-item
                :class="{ 'is-error': $v.form.workerCount.$error }"
                label="Çalışan sayınız:"
                prop="workerCount"
              >
                <el-input
                  type="number"
                  autocomplete="off"
                  @input="$v.form.workerCount.$touch()"
                  v-model="form.workerCount"
                ></el-input>

                <div
                  v-if="!$v.form.workerCount.required && isError1"
                  class="el-form-item__error"
                >
                  Lütfen bu alanı doldurunuz!
                </div>
              </el-form-item>
            </div>

            <!-- <el-divider class="divider"></el-divider> -->

            <div v-if="step == 2" class="second-area">
              <h3 class="form-alt-title">
                KVKK İdari ve Hukuki Tedbirler Uyumluluğu
              </h3>
              <p class="form-second-p">
                Bu bölümde yer alan sorular Kişisel Verileri Koruma Kurulu'nun
                belirlemiş olduğu kuralları içermektedir. Bu tedbirleri
                firmanızda uyguluyorsanız EVET seçeneğini, henüz uygulamaya
                başlamadıysanız HAYIR seçeneğini seçmenizi rica ediyoruz.
              </p>

              <el-form-item
                :class="{ activeLabel: form.lightingRequirement }"
                label="Aydınlatma yükümlülüğünüzü yerine getirdiniz mi?"
              >
                <el-switch v-model="form.lightingRequirement"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.dataStorage }"
                label="Veri saklama ve imha politikanızı oluşturdunuz mu?"
              >
                <el-switch v-model="form.dataStorage"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.dataProcessing }"
                label="Veri işleme durumlarında uygulanan açık rıza prosedürünü yerine getirdiniz mi?"
              >
                <el-switch v-model="form.dataProcessing"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.personelData }"
                label="Kişisel veri envanterini oluşturdunuz mu?"
              >
                <el-switch v-model="form.personelData"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.kvkkComplianceTest }"
                label="Ticari, idari ve iş sözleşmelerinizin KVKK uyumluluğunu test ettiniz mi ?"
              >
                <el-switch v-model="form.kvkkComplianceTest"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.kvkkIsCompliance }"
                label="Tedarikçi, misafir ve ziyaretçi girişleriniz KVKK' ya uyumlu mu?"
              >
                <el-switch v-model="form.kvkkIsCompliance"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.kvkkEducation }"
                label="Personelleriniz için zorunlu olan KVKK eğitimlerinizi tamamladınız mı ?"
              >
                <el-switch v-model="form.kvkkEducation"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.letterOfUndertaking }"
                label="Taahhütname yazısı ve veri işleyen kişisi bilgilendirmelerinizi hazırladınız mı ?"
              >
                <el-switch v-model="form.letterOfUndertaking"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.lightingTextEmployees }"
                label="Çalışanlarınız için aydınlatma metni ve muvafakat name yazılarını hazırlayarak onaylattınız mı?"
              >
                <el-switch v-model="form.lightingTextEmployees"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.verbisRegister }"
                label="Verbis kaydınızı gerçekleştirdiniz mi?"
              >
                <el-switch v-model="form.verbisRegister"></el-switch>
              </el-form-item>
            </div>

            <!-- <el-divider class="divider"></el-divider> -->

            <div v-if="step == 3" class="third-area">
              <h3 class="form-alt-title">
                KVKK Veri Güvenliği ve Teknik Tedbirler Uyumluluğu
              </h3>

              <p class="form-third-p">
                Bu bölümde yer alan sorular Kişisel Verileri Koruma Kurulu'nun
                belirlemiş olduğu kuralları içermektedir. Bu tedbirleri
                firmanızda uyguluyorsanız EVET seçeneğini, henüz uygulamaya
                başlamadıysanız HAYIR seçeneğini seçmenizi rica ediyoruz.
              </p>

              <el-form-item
                :class="{ activeLabel: form.accessAuthorizationMatrix }"
                label="Erişim yetki matrisini tamamladınız mı?"
              >
                <el-switch v-model="form.accessAuthorizationMatrix"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.accountManagementForUsers }"
                label="Kullanıcılar için hesap yönetimlerini tanımladınız mı?"
              >
                <el-switch v-model="form.accountManagementForUsers"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.IsCompatibleAccessLogs }"
                label="Erişim logları uyumlu mu?"
              >
                <el-switch v-model="form.IsCompatibleAccessLogs"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.isInfiltrationDataSecurity }"
                label="Veri güvenliği sızma testi yapıldı mı?"
              >
                <el-switch
                  v-model="form.isInfiltrationDataSecurity"
                ></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.networkSecurity }"
                label="Ağ güvenliği testi yapıldı mı?"
              >
                <el-switch v-model="form.networkSecurity"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.cyberAttack }"
                label="Siber saldırı tespit ve önleme sistemi oluşturuldu mu?"
              >
                <el-switch v-model="form.cyberAttack"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.dataMasking }"
                label="Veri maskeleme yapıyor musunuz?"
              >
                <el-switch v-model="form.dataMasking"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.dataLossPrevention }"
                label="Veri kaybı engelleme yazılımları kullanıyor musunuz?"
              >
                <el-switch v-model="form.dataLossPrevention"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.backupSystem }"
                label="Yedekleme sistemi kullanıyor musunuz?"
              >
                <el-switch v-model="form.backupSystem"></el-switch>
              </el-form-item>

              <el-form-item
                :class="{ activeLabel: form.antivirusSystem }"
                label="Antivirüs sistemleriniz güncel mi?"
              >
                <el-switch v-model="form.antivirusSystem"></el-switch>
              </el-form-item>
            </div>

            <div v-if="step == 4">
              <div class="totalpoint-box">
                <p>KVKK Uyum Oranı</p>
                <div class="totalpoint-box-point">
                  % {{ totalPoint }}
                </div>
              </div>
              
            </div>

            <div class="spacer"></div>

            <div class="buttons">
              <el-form-item v-if="step != 4" class="submit-form">
                <el-button
                  :disabled="step == 1"
                  type="primary"
                  @click.prevent="beforeStep()"
                  >Önceki</el-button
                >
              </el-form-item>

              <el-form-item v-if="step != 3 && step != 4" class="submit-form">
                <el-button type="success" @click.prevent="nextStep()"
                  >Sonraki</el-button
                >
              </el-form-item>

              <el-form-item v-if="step == 3" class="submit-form">
                <el-button type="success" @click="onSubmit('form')"
                  >Hesapla</el-button
                >
              </el-form-item>
            </div>
          </el-form>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      totalPoint: 0,
      isError1: false,
      step: 1,
      active: 0,
      labelPosition: "left",
      form: {
        activityArea: null,
        workerCount: null,

        lightingRequirement: false,
        dataStorage: false,
        dataProcessing: false,
        personelData: false,
        kvkkComplianceTest: false,
        kvkkIsCompliance: false,
        kvkkEducation: false,
        letterOfUndertaking: false,
        lightingTextEmployees: false,
        verbisRegister: false,

        accessAuthorizationMatrix: false,
        accountManagementForUsers: false,
        IsCompatibleAccessLogs: false,
        isInfiltrationDataSecurity: false,
        networkSecurity: false,
        cyberAttack: false,
        dataMasking: false,
        dataLossPrevention: false,
        backupSystem: false,
        antivirusSystem: false,
      },
      rules: {
        activityArea: [
          {
            required: true,
            message: "Lütfen bu alanı doldurunuz!",
            trigger: "blur",
          },
        ],

        workerCount: [
          {
            required: true,
            message: "Lütfen bu alanı doldurunuz!",
            trigger: "blur",
          },
        ],
      },
    };
  },
  methods: {
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.step++;
          this.active++;
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    nextStep() {
      this.$v.$touch();

      if (this.step == 1) {
        this.isError1 = true;

        if (this.form.activityArea == null || this.form.workerCount == null) {
          return false;
        }
      }
      this.step++;
      this.active++;
    },
    beforeStep() {
      this.step--;
      this.active--;
    },
  },
  validations: {
    form: {
      activityArea: {
        required,
      },
      workerCount: {
        required,
      },
    },
  },
  watch: {
    form: {
      handler(val) {
        //console.log(val);
        this.totalPoint = 0;

        if (val.lightingRequirement) {
          this.totalPoint += 3;
        }
        if (val.dataStorage) {
          this.totalPoint += 3;
        }
        if (val.dataProcessing) {
          this.totalPoint += 3;
        }
        if (val.personelData) {
          this.totalPoint += 3;
        }
        if (val.kvkkComplianceTest) {
          this.totalPoint += 3;
        }
        if (val.kvkkIsCompliance) {
          this.totalPoint += 3;
        }
        if (val.kvkkEducation) {
          this.totalPoint += 3;
        }
        if (val.letterOfUndertaking) {
          this.totalPoint += 3;
        }
        if (val.lightingTextEmployees) {
          this.totalPoint += 3;
        }
        if (val.verbisRegister) {
          this.totalPoint += 43;
        }

        if (val.accessAuthorizationMatrix) {
          this.totalPoint += 3;
        }
        if (val.accountManagementForUsers) {
          this.totalPoint += 3;
        }
        if (val.IsCompatibleAccessLogs) {
          this.totalPoint += 3;
        }
        if (val.isInfiltrationDataSecurity) {
          this.totalPoint += 3;
        }
        if (val.networkSecurity) {
          this.totalPoint += 3;
        }
        if (val.cyberAttack) {
          this.totalPoint += 3;
        }
        if (val.dataMasking) {
          this.totalPoint += 3;
        }
        if (val.dataLossPrevention) {
          this.totalPoint += 3;
        }
        if (val.backupSystem) {
          this.totalPoint += 3;
        }
        if (val.antivirusSystem) {
          this.totalPoint += 3;
        }
      },
      deep: true,
    },
  },
};
</script>
  
<style>
.totalpoint-box{
  width: 100%;
  line-height: 3;
  background: #1d3a59;
  border-radius: 5px;
  margin-top: 3rem;
  color: white;
  position: relative;
}

.totalpoint-box p{
  width: 85%;
  text-align: center;
}

.totalpoint-box-point{
  position: absolute;
  right: 0;
  top: 0;
  background: #2779d0;
  width: 15%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.el-form-item__label {
  font-size: 14px;
  color: inherit;
}

.second-area .el-form-item__label,
.third-area .el-form-item__label,
.second-area .el-form-item__content,
.third-area .el-form-item__content {
  line-height: 25px;
}

.form-second-p,
.form-third-p {
  margin-bottom: 2rem;
}

.submit-form .el-form-item__content {
  margin: 0 !important;
}

.form-title {
  font-size: 3rem;
  color: #1d3a59;
}

.form-title span {
  color: #2779d0;
}

.form-alt-title {
  margin-bottom: 2rem;
  color: #1d3a59;
  font-size: 1.5rem;
}

.spacer {
  width: 100%;
  height: 2rem;
}

.divider {
  margin: 60px 0;
}

.activeLabel {
  color: #409eff !important;
}

.error-input {
  border-color: #f56c6c !important;
}

.social-medias ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-medias ul li {
  list-style: none;
  margin: 0 10px;
}

.social-medias ul li a{
  font-size: 20px;
}
</style>

  
