<template>
  <div id="app">
    
    <Form></Form>
    
  </div>
</template>

<script>
import Form from './components/Form.vue'

export default {
  name: 'App',
  components: {
    Form
  }
}
</script>

<style>
  body{
    font-family: sans-serif;
  }
</style>
